.Header {
  text-align: center;
  background-image: url(../assets/glitter-bkgd.jpg);
  background-repeat: none;
  background-size: contain;
  color: black;
  height: 175px;
  position: relative;

  h1 {
    font-size: 50pt;
    padding: 35px;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: .25em;
    text-transform: uppercase;
    font-weight: 700;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ab2576;
    color: whitesmoke;
    height: 40px;
    width: 100vw;
    position: absolute;
    bottom: 0;
  }

  a {
    text-decoration: none;
    color: whitesmoke;
    font-family: 'Questrial', sans-serif;
    text-transform: uppercase;
    letter-spacing: .25em;
    font-weight: 700;
  }
}
