.Search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;

  button {
    width: 50.65%;
    background: #296178;
    color: whitesmoke;
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: 'Questrial', sans-serif;
    font-weight: 700;
    &:hover {
      cursor: pointer;
      background-color: rgba(6, 66, 134, 0.75);
    }
  }

  input {
    width: 50%;
    margin: .5rem;
    text-align: center;
    font-size: 1.2em;
    font-family: 'Questrial', sans-serif;
  }

}